@{
    ViewData["Title"] = "UnderConstruction";
    Layout = null;
}
<div class="body-content" style="padding-left:0px;padding-right:0px;margin:0px 0px;background-color: #fac533;">



    <div style="padding:15px; padding-top:30px;">
        <img src="/images/under-construction.png" style="width: 100%;height:100%">
    </div>
</div>