<!DOCTYPE html>
<html lang="en">

<body onload="clearCookies()">


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Get Digitally Powered With Us</h1>
                    <h2>Best marketing solutions at one move. We are team of talented influencers who help businesses Grow</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <div class="row">
                            <div class="col-md-6">
                                <button id="Index_Brand" class="button-two"><span>BRAND</span></button>
                            </div>
                            <div class="col-md-6">
                                <button id="Index_Influencer" class="button-two"><span>INFLUENCER</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/images/DigitallyPowerful_Poster.png" class="img-fluid animated" alt="Digitally Powerful">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Brands</h2>
                    <p>Digitally Powerful has worked with and led numerous well-known and small-scale brands towards their intended success by setting up effective campaigns and making captivating content.</p>
                </div>

                <section class="logo-sec" style="padding: 0px !important;">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="ls-items" id="ls-items">
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/Trippy.png" alt="Trippy">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/YoungBull.jpg" alt="Young Bull">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/SaravanaStores.PNG" alt="Saravana Selvarathnam">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/Shush.JPG" alt="Shush">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/RadioMirchi.jpg" alt="Radio Mirchi">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/OldMirchiBiryani.jpg" alt="Old Mirchi Biryani">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/ChennaiTurf.PNG" alt="Chennai Turf">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/BoxTheory.jpg" alt="Box Theory">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/GoXtreme.png" alt="GoXtreme">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/Deyga.jpg" alt="Deyga">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/RollOver.JPG" alt="Roll Over">
                                    </div>
                                    <div class="img d-block text-center">
                                        <img src="~/images/Brands/SurpriseMachi.JPG" alt="Surprise Machi">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </section>
        <!-- End Clients Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                    <p>
                        Digitally Powerful is a team of influencers, content creators and meme creators who are dedicated in fulfilling the digital marketing requirements of their clients. We work to build effective plans that focus on creating and connecting your content to the world, all while keeping your need for digital success in mind.
                    </p><br />
                    <p>
                        At Digitally Powerful, our sharp eye for detail in identifying key insights helps to create value from data that can drive meaningful creativity to your ideal audience. By partnering with us, we will bring to the table a wide range of content options, open and friendly communication, and strong execution that delivers measurable results.
                    </p>
                </div>

               
            </div>
        </section>
        <!-- End About Us Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Network</h2>
                    <p>When you're looking for influencers,youtubers and meme creators to help drive your message to a larger audience, you want the confidence in knowing that the people you're working with are experts in their field. Hand-picked based on the values of top quality content creation and high audience engagement, Digitally Powerful influencers ,youtubers and meme creators are the real deal. Each one has joined our creator network with complete readiness to partner with you to help improve brand awareness and increase conversions.</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter=".filter-Influencers" class="filter-active">Influencers</li>
                    <li data-filter=".filter-YouTubers">YouTubers</li>
                    <li data-filter=".filter-Meme">Meme Pages</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Deepika.JPG" class="img-fluid" alt="Deepika"></div>
                        <div class="portfolio-info">
                            <h4>Deepika</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/PremShyaam.JPG" class="img-fluid" alt="Prem Shyaam"></div>
                        <div class="portfolio-info">
                            <h4>Prem Shyaam</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/KristenRavali.jpg" class="img-fluid" alt="Kristen Ravali"></div>
                        <div class="portfolio-info">
                            <h4>Kristen Ravali</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Wilspat.JPG" class="img-fluid" alt="Wil spat"></div>
                        <div class="portfolio-info">
                            <h4>Wilspat</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/HazelShiny.JPG" class="img-fluid" alt="Hazel Shiny"></div>
                        <div class="portfolio-info">
                            <h4>Hazel Shiny</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Sakthi.JPG" class="img-fluid" alt="Sakthi"></div>
                        <div class="portfolio-info">
                            <h4>Sakthi</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Nivisha.JPG" class="img-fluid" alt="Nivisha"></div>
                        <div class="portfolio-info">
                            <h4>Nivisha</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/SamVishal.JPG" class="img-fluid" alt="Sam Vishal"></div>
                        <div class="portfolio-info">
                            <h4>Sam Vishal</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Raveena.JPG" class="img-fluid" alt="Raveena"></div>
                        <div class="portfolio-info">
                            <h4>Raveena</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/VishnuUnnikrishnan.jpg" class="img-fluid" alt="Vishnu Unnikrishnan"></div>
                        <div class="portfolio-info">
                            <h4>Vishnu Unnikrishnan</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Pranika.jpg" class="img-fluid" alt="Pranika"></div>
                        <div class="portfolio-info">
                            <h4>Pranika</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Ananya.JPG" class="img-fluid" alt="Aananya"></div>
                        <div class="portfolio-info">
                            <h4>Aananya</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-YouTubers">
                        <div class="portfolio-img"><img src="~/images/Influencers/WearetheBoysu.jpg" class="img-fluid" alt="We are the Boysu"></div>
                        <div class="portfolio-info">
                            <h4>We Are The Boys'U</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-YouTubers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Parithabangal.jpg" class="img-fluid" alt="Parithabangal"></div>
                        <div class="portfolio-info">
                            <h4>Parithabangal</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-YouTubers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Comali.jpg" class="img-fluid" alt="Comali" style="width: 168%;"></div>
                        <div class="portfolio-info">
                            <h4>Comali</h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item filter-YouTubers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Pongal.png" class="img-fluid" alt="Pongal"></div>
                        <div class="portfolio-info">
                            <h4>Pongal</h4>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 portfolio-item filter-Meme">
                        <section id="meme" class="team">
                            <div class="container aos-init aos-animate" data-aos="fade-up">

                                <div class="section-title">
                                    <p>We are associated with more than 200+ meme pages in Instagram and Facebook </p>
                                </div>

                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                                            <div class="member-info">
                                                <h4>What is Meme Marketing?</h4>
                                                <p>
                                                    There is no denying that we often find ourselves dragged into the whirlpool of memes, no matter what social media platform we are using Facebook, Twitter, Instagram, Tumblr or even Pinterest. Memes have become so popular on social media that there are social media profiles completely dedicated towards creating and sharing memes with their followers. Such social media ‘memers’ have managed to gather a huge following over the years through their humor.
                                                </p>
                                                <p>
                                                    Like so, the meme culture has become a huge untapped opportunity for the marketers to increase brand advocacy. Meme marketing has become an extension of viral marketing. Keeping in mind the reachability of memes, brands are now targeting the meme community to create brand awareness.
                                                </p>
                                                <p>
                                                    This is more commonly termed as memejacking among the marketers. It simply means using memes to maximize brand advocacy by placing them carefully on these social media stimulants.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                                            <div class="member-info">
                                                <h4>Why should you go for Meme Marketing?</h4>
                                                <p>
                                                    Users consume huge quantities of memes on daily basis; hence, memes make a great way by which marketers can catch and keep audience’s attention. They have become the latest weapon for marketers because of its ability to communicate the story without the use of many words and their ability to spread fast throughout the internet like forest fires. Memes reach and connect with audience beyond the conventional methods. Being cost effective, easy to create and offering a good ROI, meme marketing has given the much-needed glow up to advertising, bringing about a revolution in digital marketing.
                                                </p>
                                                <p>
                                                    Meme marketing is the answer to- “How to reach and connect with the millennials?”. The meme market now has its own place in the digital market as viral meme marketing continues to win and bring the prize (leads) home. And we as the digital marketing agency is fully leveraging the power of memes in marketing and branding.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Why Top Brands Choose Digitally Powerful</p>
                </div>
                <section class="type-sec" style="padding: 0px !important;">
                    <div class="container-fluid">
                        <div class="row justify-content-center">

                            <div class="col-12">
                                <div class="ts-items-sec height-300px" id="ts-items-sec">
                                    <div class="tys-item active">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="img">
                                                    <img src="~/images/Brands/SurpriseMachi.JPG" alt="Surprise Machi" class="borderRadius Testimonialimg" />
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tsi-bottom">
                                                    <h2>Surprise Machi</h2>
                                                    <h4>says</h4>
                                                    <div class="quotedivTestimonilas">
                                                        <span class="quoteTestimonilas">
                                                            “
                                                        </span>
                                                        <p class="paraTestimonials">Digitally powerful radiates creative ideas and thats inspiring</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="tys-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="img">
                                                    <img src="~/images/Brands/Trippy.png" alt="Trippy" class="borderRadius Testimonialimg" />
                                                </div>
                                            </div>


                                            <div class="col-md-8">
                                                <div class="tsi-bottom">
                                                    <h2>Trippy Clothing</h2>
                                                    <h4>says</h4>
                                                    <div class="quotedivTestimonilas">
                                                        <span class="quoteTestimonilas">
                                                            “
                                                        </span>
                                                        <p class="paraTestimonials">We are delighted to work with Digitally Powerful as we had a drastic growth in our product sales post partnering with them.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tys-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="img">
                                                    <img src="~/images/Brands/RadioMirchi.jpg" alt="Young Bull" class="borderRadius Testimonialimg" />
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="tsi-bottom">
                                                    <h2>Radio Mirchi</h2>
                                                    <h4>says</h4>
                                                    <div class="quotedivTestimonilas">
                                                        <span class="quoteTestimonilas">
                                                            “
                                                        </span>
                                                        <p class="paraTestimonials">We are very happy to partner with Digitally Powerful. Their unique campaigns are very effective in our business growth.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </section>
        <!-- End Testimonials Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Team</h2>
                    <p>Meet the team producing the most awesome campaigns!</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="~/images/team/Pavithran.jpg" class="img-fluid" alt="Marketing Head"></div>
                            <div class="member-info">
                                <h4>Pavithran</h4>
                                <span>Marketing Head</span>
                                <p>Create, edit and improve the content that audience is looking for and optimize the path to conversion.</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="~/images/team/Naveen.jpg" class="img-fluid" alt="Marketing Head"></div>
                            <div class="member-info">
                                <h4>Naveen Prasad</h4>
                                <span>Social Media Marketing Expert</span>
                                <p>Create social media marketing strategy and campaign by content idea, budget plan, implementing schedules.</p>
                                
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Team Section -->

    </main>
    <!-- End #main -->

</body>

</html>