<!DOCTYPE html>
<html lang="en">

<body>

    
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Best Marketing Solutions For Your Business</h1>
                    <h2>We are team of talented influencers making Business Grow</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <div class="row">
                            <div class="col-md-6">
                                <a asp-controller="User" asp-action="Sign_up" class="btn-get-started scrollto">BRAND</a>
                            </div>
                            <div class="col-md-6">
                                <a asp-controller="User" asp-action="Signup" class="btn-get-started scrollto">INFLUENCER</a>
                            </div>
                        </div>                                               
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/images/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">

                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/Trippy.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/RadioMirchi.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/OldMirchiBiryani.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/YoungBull.PNG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/ChennaiTurf.PNG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/Shush.JPG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/BoxTheory.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/Deyga.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/RollOver.JPG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/SurpriseMachi.JPG" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>
        <!-- End Clients Section -->

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Our strategists have worked at leading companies and designed
                            trendsetting campaigns.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Reliable, fast & efficient delivery</li>
                            <li>
                                <i class="ri-check-double-line"></i> World's top influencer marketing platform
                                for campaigns on Instagram, Youtube, Tik
                                Tok and more.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> To generate world-class content at scale, speed
                                and a fraction of the cost.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            From renowned celebrities to local micro influencers, from Instagram legends to Tik Tok stars and from individuals to large companies, One Impression has access to a truly wide network. Our strategists have worked at leading companies and designed trendsetting campaigns.
                        </p>
                    </div>
                </div>

            </div>
        </section>
        <!-- End About Us Section -->      
        
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Influencers</h2>
                    <p>From renowned celebrities to local micro influencers, from Instagram legends to Tik Tok stars and from individuals to large companies, One Impression has access to a truly wide network. Our strategists have worked at leading companies and designed trendsetting campaigns.</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter=".filter-Influencers" class="filter-active">Influencers</li>
                    <li data-filter=".filter-YouTubers">YouTubers</li>
                    <li data-filter=".filter-Meme">Meme Pages</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Deepika.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Deepika</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/PremShyaam.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Prem Shyaam</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/KristenRavali.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Kristen Ravali</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Wilspat.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Wilspat</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/HazelShiny.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Hazel Shiny</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Sakthi.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Sakthi</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Nivisha.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Nivisha</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/SamVishal.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Sam Vishal</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Raveena.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Raveena</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/VishnuUnnikrishnan.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Vishnu Unnikrishnan</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Pranika.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Pranika</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Ananya.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Ananya</h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>                   
        <!-- End Portfolio Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Team</h2>
                    <p>The perfect platform for brands and digital media influencers to connect and produce the most awesome campaigns!</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="~/images/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="~/images/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>

            </div>
        </section>
        <!-- End Team Section -->
       
    </main>
    <!-- End #main -->
  
</body>

</html>