<!DOCTYPE html>
<html lang="en">

<body>


    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Best Marketing Solutions For Your Business</h1>
                    <h2>We are team of talented influencers making Business Grow</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <div class="row">
                            <div class="col-md-6">
                                <button id="Index_Brand" class="button-two"><span>BRAND</span></button>
                            </div>
                            <div class="col-md-6">
                                <button id="Index_Influencer" class="button-two"><span>INFLUENCER</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/images/DigitallyPowerful_Poster.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= Clients Section ======= -->
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Brands</h2>
                    <p>We have worked with Popular brands as well as small entities in setting up campaigns to create a powerful business digitally.</p>
                </div>
                <div class="row" data-aos="zoom-in">

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/Trippy.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/RadioMirchi.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/OldMirchiBiryani.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/YoungBull.PNG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/ChennaiTurf.PNG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/Shush.JPG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/BoxTheory.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/Deyga.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/RollOver.JPG" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="~/images/Brands/SurpriseMachi.JPG" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>
        <!-- End Clients Section -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-12">
                        <p>
                            Digitally powerful is a team of multiple influencers/content creators who would be helping you out in your digital marketing requirements in a very digitally powerful mode.
                            With an eye for detail we would be building an efficient plan in creating a content for your digital success, also by bridging the gap between a brand and influencer.
                            With us, you would have a huge option of contents to choose from, considering the numbers of content creators that we are partnering with.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Reliable, fast & efficient delivery</li>
                            <li>
                                <i class="ri-check-double-line"></i> World's top influencer marketing platform
                                for campaigns on Instagram, Youtube, Tik
                                Tok and more.
                            </li>
                            <li>
                                <i class="ri-check-double-line"></i> To generate world-class content at scale, speed
                                and a fraction of the cost.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Us Section -->
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Network</h2>
                    <p>From renowned celebrities to local micro influencers, from Instagram legends to Tik Tok stars and from individuals to large companies, Digitally Powerful has access to a truly wide network.</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter=".filter-Influencers" class="filter-active">Influencers</li>
                    <li data-filter=".filter-YouTubers">YouTubers</li>
                    <li data-filter=".filter-Meme">Meme Pages</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Deepika.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Deepika</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/PremShyaam.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Prem Shyaam</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/KristenRavali.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Kristen Ravali</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Wilspat.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Wilspat</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/HazelShiny.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Hazel Shiny</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Sakthi.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Sakthi</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Nivisha.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Nivisha</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/SamVishal.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Sam Vishal</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Raveena.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Raveena</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/VishnuUnnikrishnan.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Vishnu Unnikrishnan</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Pranika.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Pranika</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-Influencers">
                        <div class="portfolio-img"><img src="~/images/Influencers/Ananya.JPG" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Ananya</h4>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-YouTubers">
                        <div class="portfolio-img"><img src="~/images/DigitallyPowerful_Poster.png" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Digitally Powerful</h4>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 portfolio-item filter-Meme">
                        <section id="meme" class="team">
                            <div class="container aos-init aos-animate" data-aos="fade-up">

                                <div class="section-title">
                                    <p>We are associated with Meme Pages to market your brand and thereby creating brand awareness........ </p>
                                </div>

                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                                            <div class="member-info">
                                                <h4>What is Meme Marketing?</h4>
                                                <p>
                                                    It is no denying that we often find ourselves dragged into the whirlpool of memes, no matter what social media platform we are using Facebook, Twitter, Instagram, Tumblr or even Pinterest. Memes have become so popular on social media that there are social media profiles completely dedicated towards creating and sharing memes with their followers. Such social media ‘memers’ have managed to gather a huge following over the years through their humor.
                                                </p>
                                                <p>
                                                    Like so, the meme culture has become a huge untapped opportunity for the marketers to increase brand advocacy. Meme marketing has become an extension of viral marketing. Keeping in mind the reachability of memes, brands are now targeting the meme community to create brand awareness.
                                                </p>
                                                <p>
                                                    This is more commonly termed as memejacking among the marketers. It simply means the use of memes in order to maximize brand advocacy by placing them carefully on these social media stimulants.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="member d-flex align-items-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                                            <div class="member-info">
                                                <h4>Why should you go for Meme Marketing?</h4>
                                                <p>
                                                    Users consume huge quantities of memes on daily basis; hence, memes make a great way by which marketers can catch and keep audience’s attention. They have become the latest weapon for marketers because of its ability to communicate the story without the use of many words and their ability to spread fast throughout the internet like forest fires. Memes reach and connect with audience beyond the conventional methods. Being cost effective, easy to create and offering a good ROI, meme marketing has given the much-needed glow up to advertising, bringing about a revolution in digital marketing.
                                                </p>
                                                <p>
                                                    Meme marketing is the answer to- “How to reach and connect with the millennials?”. The meme market now has its own place in the digital market as viral meme marketing continues to win and bring the prize (leads) home. And we as the leading meme marketing agency in India is fully leveraging the power of memes in marketing and branding.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Portfolio Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Team</h2>
                    <p>The perfect platform for brands and digital media influencers to connect and produce the most awesome campaigns!</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="~/images/team/team-1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Abiram Siddarth</h4>
                                <span>Content Marketing Manager</span>
                                <p>Create, edit and improve the content that audience is looking for and optimize the path to conversion.</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="~/images/team/team-2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Naveen Prasad</h4>
                                <span>Social Media Marketing Expert</span>
                                <p>Create social media marketing strategy and campaign by content idea, budget plan, implementing schedules.</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Team Section -->

    </main>
    <!-- End #main -->

</body>

</html>