@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Favicons -->
    <link href="~/images/favicon.png" rel="icon">
    <link href="~/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="logo me-auto"><img src="~/images/DigitallyPowerful.png" alt="Digitally Powerful" class="img-fluid"></a>
        </div>
    </header><!-- End Header -->
    <main id="main" style="padding-top: 50px;">
        <section class="contact">
            <div class="container">
                <p>
                    <h2> PRIVACY POLICY</h2>

                    <h4>1. INTRODUCTION</h4>
                    Welcome to <a href="https://www.digitallypowerful.com">www.digitallypowerful.com</a> (hereinafter referred to as the “Website” ) . DIGITALLY POWERFUL is committed to respecting your online privacy and recognizes your need for appropriate protection and management of any information you share with DIGITALLY POWERFUL on the Website.
                </p>
                <p>
                    <h4>2. SCOPE</h4>
                    This privacy policy (“Policy”) is an electronic record in the form of an electronic contract formed under the Information Technology Act, 2000 and the rules made thereunder. This Policy does not require any physical, electronic or digital signature. This Policy is a legally binding document between you and DIGITALLY POWERFUL . The terms of this Policy will be effective upon your acceptance of the same by use of the website and will govern the relationship between you and DIGITALLY POWERFUL for your use of the Website. This Policy shall be deemed to be incorporated into the Terms of Use of the Website and shall be read in addition to the Terms of Use.This Policy sets out the policies and practices in relation to the collection, use, disclosure and protection of the personal data and the rights and obligations available to the Parties in relation to personal data and sensitive personal data. This Policy sets out the DIGITALLY POWERFUL’s policy in relation to the receipt of Personal Information (as defined below) and accordingly applies to all Personal Information(asdefinedbelow )collected from (i) associates, consultants, office personnel, employees, and other persons working at or for DIGITALLY POWERFUL; and/or (ii) users of the Website. The term ‘you’ used in this policy refers to all such persons from whom information is collected.This Policy shall be a deemed notice to you provided during the collection of personal data.
                </p>
                <p>
                    <h4> 3. CONSENT</h4>
                    By mere use of the Website, you expressly consent to DIGITALLY POWERFUL’s use and disclosure of your Personal Information and Sensitive Personal Information in accordance with this Policy and to undertake all actions relating thereto as set out in this Policy. If you do not agree with the terms of this Policy, please do not use this Website.You may withhold or withdraw the consent given to DIGITALLY POWERFUL on the Website, by communicating in writing or by not browsing further through the Website, However, such withholding of information or withdrawal of consent may result in DIGITALLY POWERFUL being unable to provide services and products and any obligations for which such Personal Information was sought. It being clarified that such withdrawal of consent shall not affect the permission granted prior to such withdrawal.
                </p>
                <p>
                    <h4> 4. WHAT INFORMATION IS COLLECTED</h4>
                    4.1. The Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 defines “Personal   Information” as any information that relates to a natural person, which, either directly or indirectly, in combination with other information available or likely to be available with a body corporate, is capable of identifying such person. “Sensitive Personal Data or Information” is defined to mean such personal information which consists of information relating to passwords, financial information such as bank account or credit card or debit card or other payment instrument details, physical, physiological and mental health conditions, sexual orientation, medical records and history, biometric information, any detail relating to the above as provided to a body corporate for providing service; and any information received which falls under the abovementioned categories by a body corporate for processing, stored or processed under lawful contract or otherwise. Any information that is freely available or accessible in public domain or furnished under the Right to Information Act, 2005 or any other law for the time being in force is not regarded as sensitive personal information.DIGITALLY POWERFUL<br />
                    4.2. For the purpose of this Policy, the term “Personal Information” shall mean any information (personal information or sensitive personal data) you provide to DIGITALLY POWERFUL and shall include, without limitation, your name, phone number, date of birth, age, Instagram handle, gender, e-mail address, bank account details and password. Further, DIGITALLY POWERFUL may also require you to provide certain user verification information such as your permanent account number, unique identification number, copy of your driving license and passport.<br />
                    4.3. For the purpose of this Policy, the term “Non-Personal Information” shall mean information that does not specifically identify an individual but includes information from you, such as the type of internet browser you use, mobile device you use, your computer or your mobile device’s unique device ID, the URL of the previous website you visited geo-location, browser type, browser version, the pages of our Website that you visit, the time and date of your visit, the time spent on those pages, usage patterns, unique device identifiers and other diagnostic data, your computer’s operating system, your Internet Service Provider (ISP) and your Internet Protocol (IP) address. DIGITALLY POWERFUL may also collect Non-Personal Information that you voluntarily provide, such as information included in response to a questionnaire or a survey conducted by DIGITALLY POWERFUL.
                </p>
                <p>
                    <h4> 5. COLLECTION OF INFORMATION</h4>
                    5.1. DIGITALLY POWERFUL may collect information from you when you, (i) register on the Website; (ii) update your information on the Website; (iii) use the features on the Website including to order products; and (iv) participate in campaigns conducted by DIGITALLY POWERFUL on the Website.<br />
                    5.2. DIGITALLY POWERFUL and its business partners may use cookies to monitor the Website usage including, without limitation, to provide useful features to simplify your experience when you return to the Website, like remembering your login ID and certain Personal Information and to deliver relevant content based on your preferences, usage patterns and location.<br />
                    5.3. You may use the Website without providing DIGITALLY POWERFUL any Personal Information about yourself. However, you may not be able to access certain services of the Websites in case you choose to do so.<br />
                    5.4. Your Personal and Non-Personal Information collected by DIGITALLY POWERFUL from a particular browser or device may be used with another computer or device that is linked to the browser or device on which your Personal and Non-Personal Information was collected.<br />
                    5.5.You may note that it is possible that we may collect personal information about you from sources other than yourself, such as from forums, blogs, instant messaging, referral program, other users of our services and our business partners. However, any such information shall not be considered to be sensitive, if it is freely available in the public domain, or under (Indian) Right to Information Act, 2005 or under any other applicable law for the time being in force.Websites in case you choose to do so.
                </p>
                <p>
                    <h4> 6. USE OF INFORMATION</h4>
                    DIGITALLY POWERFUL uses your Personal and Non-Personal Information for certain purposes including but not limited to:<br />
                    6.1. Service-related Purpose<br />
                    6.1.1.enabling you to use the Website;<br />
                    6.1.2.providing you with information about services available on the Website; <br />
                    6.1.3.providing you with advertisement content based on your interests andpreferences on the Website and/or the website and other platforms ownedby DIGITALLY POWERFUL’s business partners;<br />
                    6.1.4.marketing (including direct marketing) of products/services, send information, materials and offers from DIGITALLY POWERFUL;<br />
                    6.1.5.for processing orders and delivery of products;<br />
                    6.1.6.resolving any glitches on the Website including addressing any technicalproblems;<br />
                    6.1.7.to send you alerts, notices, letters, newsletters, offers, response to requestand other customer support queries and/or any other communication whichmay be relevant and vital to the usage of the Website by you; <br />
                    6.1.8.improving your experience of navigating through the Website; <br />
                    6.1.9.improving the services and content on the Website;<br />
                    6.1.10. to enforce the “Terms of Use” of this Website;<br />
                    6.1.11. for all other purposes as may be disclosed when you provide personally identifiable information/sensitive personal data; and<br />
                    6.1.12. all other incidental and associated purposes relating to the above and any other purpose which you may from time to time agree.<br />
                    6.2. Internal Business Purpose DIGITALLY POWERFUL may use your Non-Personal Information for internal business purposes, such as data analysis, research, developing new features, enhancing and improving existing services and in identifying usage trends. This information helps DIGITALLY POWERFUL to constantly improve, personalize and customize the products and services it provides to you.

                </p>
                <p>
                    <h4>  7. SHARING OF INFORMATION</h4>
                    DIGITALLY POWERFUL may disclose your Personal Information in the following ways:<br />
                    7.1. Disclosure to Government authorities or as required by law DIGITALLY POWERFUL may share your Personal Information with Government and/or statutory authorities in response to subpoenas, court orders, or other legal process; to establish or exercise legal rights; to defend against legal claims; or as otherwise required by law. DIGITALLY POWERFUL warrants that such information will be disclosed only in accordance with applicable laws and regulations.<br />
                    7.2. Disclosure to AcquirersDIGITALLY POWERFUL may disclose and/or transfer your Personal Information to an acquirer, assignee or other successor entity situated within or outside India in connection with a sale, merger, or reorganization of all or substantially all of the equity, business or assets of DIGITALLY POWERFUL .<br />
                    7.3. Disclosure to Group CompaniesDIGITALLY POWERFUL may and/or transfer your Personal Information to any of its other group companies, affiliates or subsidiaries for the purpose of carrying on business operations.<br />
                    7.4. Disclosure to Third Parties (Situated In or outside India)DIGITALLY POWERFUL may engage third parties, any agent, or contractor to provide various services to DIGITALLY POWERFUL in connection with the Website or the operation of the Company’s business and services or to collaborate with DIGITALLY POWERFUL to host events. If any such third party must have access to your Personal Information in order to perform its services, DIGITALLY POWERFUL endeavors to ensure that such that third party use and disclose the Personal Information in accordance with the restrictions outlined in this Policy. DIGITALLY POWERFUL may also share your information with third parties to conduct promotion and/or ad campaigns in case you have explicitly chosen to authorise DIGITALLY POWERFUL for sharing your information.<br />
                    7.5. Disclosure of Certain User InformationDIGITALLY POWERFUL shall not share your permanent account number, unique identification number, copy of your driving license and passport with any third party.

                </p>
                <p>
                    <h4> 8. PROTECTION OF INFORMATION</h4>
                    8.1. DIGITALLY POWERFUL has taken adequate measures to protect the security of your Personal Information and to ensure that your choices for its intended use are honoured. DIGITALLY POWERFUL takes adequate precautions to protect your data from loss, misuse, unauthorized access or disclosure, alteration, or destruction.<br />
                    8.2. DIGITALLY POWERFUL assures you that your information is safe and secure. It uses industry standards, and physical, technical and administrative security measures to keep your Personal Information confidential and secure and DIGITALLY POWERFUL shall not share your Personal Information with third parties, except as otherwise provided in this Policy.<br />
                    8.3. At DIGITALLY POWERFUL , data is stored in password-controlled servers with limited access to employees and other personnel or consultants on a need-to-know basis.<br />
                    8.4. Access to your online account on the Website is via your e-mail which is password protected and this helps to secure your account information. You are solely responsible for maintaining the confidentiality of that password. To ensure safety of your Personal Information, you are advised against sharing your user name and password with anyone.

                </p>
                <p>
                    <h4>  9. COOKIES AND OTHER TRACKING TECHNOLOGIES</h4>
                    9.1. The Website utilizes cookies and other tracking technologies such as eTags and web cache including any proprietary or third party tracking services. A cookie is a small text file that may be used, for example, to collect information about the Website activity. Some cookies and other technologies may serve to recall Personal Information and/or Non-Personal Information previously indicated by a Website user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them.<br />
                    9.2. You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, however, if you choose to erase or block your cookies, you shall have to re-enter your original user ID and password to gain access to certain parts of the Website but in certain cases browser settings that block cookies may have no effect on the technologies used by DIGITALLY POWERFUL and its business partners.<br />
                    9.3. Tracking technologies may record information such as internet domain and host names, internet protocol (IP) addresses, browser software and operating system types, clickstream patterns, and dates and times at which the Website is accessed. DIGITALLY POWERFUL’s use of cookies and other tracking technologies allows DIGITALLY POWERFUL to improve the Website and your experience in using the Website.

                </p>
                <p>
                    <h4>  10. VERIFICATION OF INFORMATION</h4>
                    In the event that you choose to avail any service or facility that may be offered through the Website or put in a request or query with respect to the same, you shall have to register yourself with us and/ or provide personal information about yourself. You may note that DIGITALLY POWERFUL may (through our agents/ service providers) contact you either through e-mail, fax, telephone or personal visits for verification/ confirmation of the same. You hereby confirm that all information or data provided by you shall be correct, complete and accurate and shall not in any manner be misleading.

                </p>
                <p>
                    <h4> 11. LIMITATION OF LIABILITY</h4>
                    11.1. DIGITALLY POWERFUL is not responsible for any breach of security or for any actions or inactions of any third parties that receive your Personal Information.<br />
                    11.2. Notwithstanding anything contained in this Policy or elsewhere, DIGITALLY POWERFUL shall not be held responsible for any loss, damage or misuse of your Personal Information, if such loss, damage or misuse is attributable to a Force Majeure Event. The term “Force Majeure Event” shall mean any event that is beyond the reasonable control of DIGITALLY POWERFUL and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes, lockouts or industrial action of any kind, riots, insurrection, war, acts of government, civil disturbances, and any other similar events not within the control of DIGITALLY POWERFUL and which DIGITALLY POWERFUL is not able to overcome.
                </p>
                <p>
                    <h4> 12. ACCURACY OF AND ACCESS TO PERSONAL INFORMATION</h4>
                    DIGITALLY POWERFUL will not be responsible for the accuracy or authenticity of the personal information or sensitive personal data that is provided by you. It is your responsibility to notify DIGITALLY POWERFUL through the Website of any changes to your personal information. To attain this end, you may request the Website for reasonable access to, and correction of, your Personal Information collected by the Website by emailing their request/clarification at contact@digitallypowerful.com .DIGITALLY POWERFUL makes good efforts to provide its users with reasonable access to their respective personal information and shall ensure that any personal information found to be inaccurate and brought to the notice of DIGITALLY POWERFUL by you is rectified or amended as feasible. DIGITALLY POWERFUL may however before processing such requests, ask you to identify yourself and the information /data requested to be modified by you in order to avoid repetitive and/or illegitimate requests. DIGITALLY POWERFUL shall not be responsible for any delay in updating such information.

                </p>
                <p>
                    <h4> 13. OPT-OUT</h4>
                    You have the option to 'opt-out' of all DIGITALLY POWERFUL’s newsletters, other general e-mail marketing communications and interest-based advertising, cross-app advertising, statistical identification and cross-device targeting by way of links provided at the bottom of each mailer. DIGITALLY POWERFUL respects your privacy and in the event that you choose to not receive such mailers, it shall take all adequate steps to remove you from such lists.

                </p>
                <p>
                    <h4> 14. LINKS TO THIRD PARTY WEBSITES</h4>
                    The Website may contain links and interactive functionality interacting with the websites of third parties. DIGITALLY POWERFUL is not responsible for and has no liability for the functionality, actions, inactions, privacy settings, privacy policies, terms, or content of any such website. Before enabling any sharing functions to communicate with any such website or otherwise visiting any such website, DIGITALLY POWERFUL strongly recommends that you review and understand the terms and conditions, privacy policies, settings, and information-sharing functions of each such third-party website.

                </p>
                <p>
                    <h4> 15. RETENTION OF DATA</h4>
                    We will retain Personal Information only for as long as is necessary for the purposes set out in this Policy. In addition, we will retain and use Personal Information to the extent necessary to comply with our legal obligations (for example, if we are required to retain certain data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.

                </p>
                <p>
                    <h4>  16. CHANGES TO THIS POLICY</h4>
                    DIGITALLY POWERFUL reserves the right to update, change or modify this Policy at any time. The Policy shall come to effect from the date of such update, change or modification. Your continued use of the Website following such revision or modification shall constitute your acceptance of the revised Policy. We encourage you to periodically review this page for the latest information on our privacy practices and keep yourself informed about the updated Policies.

                </p>
                <p>
                    <h4> 17. METRICS</h4>
                    We may share with users of our advertisers or publishers aggregate statistics, metrics and other reports about the performance of their ads or content on our site such as the number of unique user views, demographics about the users who saw their ads or content, conversion rates, and date and time information. We do not share IP addresses or personal information. We may also allow our advertisers or publishers to use Pixels on the Site in order to collect information about the performance of their ads or content.

                </p>
                <p>
                    <h4> 18. ADS AND PERSONALIZATION</h4>
                    We may display personalized content (including from third party publishers) and personalized ads (including sponsored content), based on information that we have collected via the Site and through our Pixels, widgets, and buttons embedded on third party sites. We also may report aggregated or de-identified information about the number of users that saw a particular ad or content and related audience engagement information to users of our Ad Services and to publishers of content on the Site.Users of our Ad Services may also provide us with information as part of their ad campaigns, including customer list information (e.g., email addresses and demographic or interest data or) with us in order to create customized audiences for their ad campaigns; we only use this information to facilitate the particular user’s campaign (including ad metrics and reporting to that user) or for fraud detection and security purposes, and we do not disclose these customer lists to third parties (other than our service providers) unless required by law. We also do not disclose to users of our Ad Services the names or identities of their customers that were successfully reached as part of such campaigns.We may also work with third parties such as network advertisers to serve ads on Our site and on third-party websites or other media (e.g., social networking platforms), such as Google AdSense. These third parties may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other tracking technologies to measure the effectiveness of their ads and to personalize advertising content to you.

                </p>
                <p>
                    <h4>  19. GRIEVANCE OFFICER</h4>
                    In accordance with the Information Technology Act, 2000 and Rules made thereunder, the name and contact details of the Grievance Officer are provided below:<br />
                    Name: Mr S. JAISURYA(Grievance Officer)<br />
                    Address: 291, Alapakkam 10th St, Ashtalakshmi Nagar, Valasaravakkam, Chennai, Tamil Nadu 600095<br />
                    Email: <a href="mailto:contact@digitallypowerful.com">contact@digitallypowerful.com</a><br />
                    Ph: +919789990503<br />
                    If you wish to make a complaint regarding any violation of the provisions of these Terms, you may send a written complaint to the Grievance Officer, who shall redress the complaint in accordance with the provisions of the Information Technology Act, 2000 and Rules made thereunder.
                </p>
                <p>
                    <h4>  20. HOW TO CONTACT US</h4>
                    If you have questions or concerns about this Policy, please contact DIGITALLY POWERFUL at <a href="mailto:contact@digitallypowerful.com">contact@digitallypowerful.com</a>
                </p>
            </div>
        </section>
    </main>
    <div>
        <footer id="footer">
            <div class="container footer-bottom clearfix">
                <div class="copyright">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>  Copyright <strong><span>Digitally Powerful</span></strong>. All Rights Reserved.
                </div>
                <div class="credits">
                    Designed by <a href="https://techiepods.com/">TechiePods</a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Vendor JS Files -->
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>