@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body onload="login_admin()">
    <header id="header" class="fixed-top " style="background: #f9fbfd">
        <div class="container d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="logo me-auto"><img src="~/images/DigitallyPowerful.png" alt="Digitally Powerful" class="img-fluid"></a>
        </div>
    </header><!-- End Header -->
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="page-title">Welcome Admin</h4>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-round btn-primary" id="ExportBtn">Export&nbsp;<i class="fas fa-download"></i></button>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Brands</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="BrandList_datatable" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <table id="BrandList" class="table display">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Project Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Influencers</div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="InfluencerList_datatable" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <table id="InfluencerList" class="table display">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Gender</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/js/Admin.js" asp-append-version="true"></script>
</body>

<!-- Modal -->
<div class="modal" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Influencer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Brands</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div id="Influencerdetail_datatable" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                        <table id="Influencerdetail" class="table display">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Site</th>
                                                    <th>Link</th>
                                                    <th>Followers</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
