@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<body onload="login_brand()">
    <header id="header" class="fixed-top " style="background: #f9fbfd">
        <div class="container d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="logo me-auto"><img src="~/images/DigitallyPowerful.png" alt="Digitally Powerful" class="img-fluid"></a>
        </div>
    </header><!-- End Header -->
    <div class="container">
        <div class="page-inner">
            <h4 class="page-title">Profile</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BrandProfile_BrandName" class="placeholder">Brand Name</label>
                                        <input id="BrandProfile_BrandName" type="text" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BrandProfile_Name" class="placeholder">Your Name</label>
                                        <input id="BrandProfile_Name" type="text" class="form-control" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BrandProfile_Email">Email</label>
                                        <input type="text" class="form-control" id="BrandProfile_Email" required="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BrandProfile_Mobile">Mobile</label>
                                        <input type="text" class="form-control" id="BrandProfile_Mobile" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="BrandProfile_Project">Project Type</label>
                                        <select class="form-control form-control" id="BrandProfile_Project">
                                            <option value="1" selected>Influencer Marketing</option>
                                            <option value="2">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" id="BrandProfile_Categoryflag" style="display:none">
                                        <label for="BrandProfile_Category" >Category</label>
                                        <input type="text" class="form-control" id="BrandProfile_Category" placeholder="Enter Category">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="comment">Brand Description</label>
                                        <textarea class="form-control" id="BrandProfile_Description" rows="4">
												</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile" style="height: 94%;">
                        <div class="col-lg-5 col-md-5 col-sm-12 ml-auto mr-auto">
                            <div class="input-file input-file-image">
                                <img class="img-upload-preview" style="border-radius: 15px;" @*img-circle*@ width="100" height="100" src="~/images/favicon.png" alt="preview">
                                <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required="">
                                <label for="uploadImg" class="btn btn-primary btn-round btn-lg" style="display:none">Image<i class="fas fa-upload"></i></label>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 5px;">
                            <div class="user-profile text-center">
                                <div class="name" id="ProfileLogoName_Brand"></div>
                                <div class="job" id="ProfileName_Brand"></div>
                                <div class="desc">Verified <i id="VerifiedLogo" class="far fa-check-circle" style="display:none"></i><i id="UnverifiedLogo" class="far fa-times-circle"></i></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center mt-3 mb-3">
                                <button class="btn btn-success btn-round" id="BrandProfile_Save">
                                    Save &nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </button>
                                <button class="btn btn-danger btn-round" id="BrandProfile_Cancel">
                                    Cancel &nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Contact Us</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="BrandProfile_subject" class="col-form-label col-md-1">Subject :</label>
                                <div class="col-md-11">
                                    <input type="text" class="form-control" id="BrandProfile_subject" name="BrandProfile_subject">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="BrandProfile__message" class="col-form-label col-md-1">Message :</label>
                                <div class="col-md-11">
                                    <textarea id="BrandProfile__message" class="form-control" name="BrandProfile__message" rows="8" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center mt-3 mb-3">
                                <button class="btn btn-success btn-round" id="BrandProfile_Send">
                                    Send &nbsp;
                                    <span class="btn-label">
                                        <i class="far fa-paper-plane"></i>
                                    </span>
                                </button>
                                <button class="btn btn-danger btn-round" id="BrandProfile_Undo">
                                    Cancel &nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Brand.js" asp-append-version="true"></script>
</body>

