@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<body>
    <header id="header" class="fixed-top " style="background: #f9fbfd">
        <div class="container d-flex align-items-center">
            <a asp-controller="Home" asp-action="Index" class="logo me-auto"><img src="~/images/DigitallyPowerful.png" alt="Digitally Powerful" class="img-fluid"></a>
        </div>
    </header><!-- End Header -->
    <div class="container">
        <div class="page-inner">
            <h4 class="page-title">Profile</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input id="BrandProfile_BrandName" type="text" class="form-control" required="">
                                        <label for="BrandProfile_BrandName" class="placeholder">Brand Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input id="BrandProfile_Name" type="text" class="form-control" required="">
                                        <label for="BrandProfile_Name" class="placeholder">Your Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input type="text" class="form-control" id="BrandProfile_Email" required="">
                                        <label for="BrandProfile_Email" class="placeholder">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input type="text" class="form-control" id="BrandProfile_Mobile" required="">
                                        <label for="BrandProfile_Mobile" class="placeholder">Mobile</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <select class="form-control form-control" id="BrandProfile_Project">
                                            <option>Influencer Marketing</option>
                                            <option>Others</option>
                                        </select>
                                        <label for="BirthDate" class="placeholder">Project Type</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input type="text" class="form-control" id="BrandProfile_Category" required="">
                                        <label for="BrandProfile_Category" class="placeholder">Category</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile" style="height: 90%;">
                        <div class="col-lg-5 col-md-5 col-sm-12 ml-auto mr-auto">
                            <div class="input-file input-file-image">
                                <img class="img-upload-preview img-circle" width="100" height="100" src="~/images/favicon.png" alt="preview">
                                <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required="">
                                <label for="uploadImg" class="btn btn-primary btn-round btn-lg" style="display:none">Image<i class="fas fa-upload"></i></label>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 17px;">
                            <div class="user-profile text-center">
                                <div class="name" id="ProfileLogoName">Hizrian</div>
                                <div class="job">Verified <i id="VerifiedLogo" class="far fa-check-circle"></i><i id="UnverifiedLogo" class="far fa-times-circle"></i></div>
                                <div class="desc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Contact</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="BrandProfile_subject" class="col-form-label col-md-1">Subject :</label>
                                <div class="col-md-11">
                                    <input type="text" class="form-control" id="BrandProfile_subject" name="BrandProfile_subject">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="BrandProfile__message" class="col-form-label col-md-1">Message :</label>
                                <div class="col-md-11">
                                    <textarea id="BrandProfile__message" class="form-control" name="BrandProfile__message" rows="8" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right mt-3 mb-3">
                                <button class="btn btn-success btn-round">
                                    <span class="btn-label">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    Send
                                </button>
                                <button class="btn btn-danger btn-round">
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Influencers</div>
                        </div>
                        <div class="card-body">

                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

