@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<body onload="login_influencer()">

    <div class="container">
        <div class="page-inner">
            <h4 class="page-title">Profile</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input id="FirstName" type="text" class="form-control" required="">
                                        <label for="FirstName" class="placeholder">First Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input id="LastName" type="text" class="form-control" required="">
                                        <label for="LastName" class="placeholder">Last Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="Email">Email</label>
                                        <input type="email" class="form-control" id="Email" required="" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Mobile">Mobile</label>
                                        <input type="tel" class="form-control" id="Mobile" required="" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="BirthDate" class="placeholder">Birth Date</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="date" class="form-control" id="BirthDate" required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="form-label d-block">Gender</label>
                                            </div>

                                            <div class="col-md-9">
                                                <div class="selectgroup selectgroup-secondary selectgroup-pills">
                                                    <label class="selectgroup-item" title="Female">
                                                        <input type="radio" id="Female" name="icon-input" value="Female" class="selectgroup-input" checked="">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-venus"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item" title="Male">
                                                        <input type="radio" id="Male" name="icon-input" value="Male" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-mars"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item" title="Transgender">
                                                        <input type="radio" id="Transgender" name="icon-input" value="Transgender" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-transgender"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item" title="Prefer Not To Say">
                                                        <input type="radio" id="PreferNotToSay" name="icon-input" value="PreferNotToSay" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-neuter"></i></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile" style="height: 90%;">
                        <div class="col-lg-5 col-md-5 col-sm-12 ml-auto mr-auto">
                            <div class="input-file input-file-image">
                                <img class="img-upload-preview" style="border-radius: 15px;" @*img-circle*@ width="100" height="100" src="~/images/favicon.png" alt="preview">
                                <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required="">
                                <label for="uploadImg" class="btn btn-primary btn-round btn-lg" style="display:none">Image<i class="fas fa-upload"></i></label>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 17px;">
                            <div class="user-profile text-center">
                                <div class="name" id="ProfileLogoName"></div>
                                <div class="job" id="ProfileName"></div>
                                <div class="desc">Verified <i id="VerifiedLogo" class="far fa-check-circle" style="display:none"></i><i id="UnverifiedLogo" class="far fa-times-circle"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Social Networks&nbsp;&nbsp;&nbsp;<span><button id="Socialnetwork_Add" class="btn btn-secondary btn-round">ADD&nbsp;<i class="fa fa-plus"></i></button></span></div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="SocialNetworkingTable" class="table table-head-bg-primary">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center">Site</th>
                                            <th style="text-align:center">Profile Link</th>
                                            <th style="text-align: center">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-icon btn-round" style="background-color: #fb3958">
                                                    <i class="fab fa-instagram" style="color:white"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="InstaLink" type="url" class="form-control" style="width:500px" required="">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" id="InstaCount" class="form-control" aria-label="Text input with dropdown button">
                                                        <div class="input-group-append">
                                                            <select class="form-control" id="InstaVal">
                                                                <option value="1">K</option>
                                                                <option value="2">M</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-icon btn-round" style="background-color: #FF0000">
                                                    <i class="fab fa-youtube" style="color:white"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="YouTubeLink" type="url" class="form-control" required="">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" id="YouTubeCount" class="form-control" aria-label="Text input with dropdown button">
                                                        <div class="input-group-append">
                                                            <select class="form-control" id="YouTubeVal">
                                                                <option value="1">K</option>
                                                                <option value="2">M</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-icon btn-round" style="background-color: #4267B2">
                                                    <i class="fab fa-facebook" style="color:white"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="FBLink" type="url" class="form-control" required="">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" id="FBCount" class="form-control" aria-label="Text input with dropdown button">
                                                        <div class="input-group-append">
                                                            <select class="form-control" id="FBVal">
                                                                <option value="1">K</option>
                                                                <option value="2">M</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-icon btn-round" style="background-color: #1DA1F2">
                                                    <i class="fab fa-twitter" style="color:white"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input id="TwitterLink" type="url" class="form-control" required="">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="number" id="TwitterCount" class="form-control" aria-label="Text input with dropdown button">
                                                        <div class="input-group-append">
                                                            <select class="form-control" id="TwitterVal">
                                                                <option value="1">K</option>
                                                                <option value="2">M</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-right mt-3 mb-3">
                                <button class="btn btn-success btn-round" id="Influencer_save">
                                    Save&nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </button>
                                <button class="btn btn-danger btn-round" id="Influencer_cancel">
                                    Cancel&nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Influencer.js" asp-append-version="true"></script>
</body>

