@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<body>
    <header id="header" class="fixed-top " style="background: #36517e">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a asp-controller="Home" asp-action="Index">Digitally Powerful</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
    </header><!-- End Header -->
    <div class="container">
        <div class="page-inner">
            <h4 class="page-title">Profile</h4>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-with-nav">
                        <div class="card-body">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input id="FirstName" type="text" class="form-control" required="">
                                        <label for="FirstName" class="placeholder">First Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input id="LastName" type="text" class="form-control" required="">
                                        <label for="LastName" class="placeholder">Last Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input type="email" class="form-control" id="Email" required="">
                                        <label for="Email" class="placeholder">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-floating-label">
                                        <input type="text" class="form-control" id="Mobile" required="">
                                        <label for="Mobile" class="placeholder">Mobile</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label for="BirthDate" class="placeholder">Birth Date</label>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="date" class="form-control" id="BirthDate" required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label class="form-label d-block">Gender</label>
                                            </div>

                                            <div class="col-md-9">
                                                <div class="selectgroup selectgroup-secondary selectgroup-pills">
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="icon-input" value="Female" class="selectgroup-input" checked="">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-venus"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="icon-input" value="Male" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-mars"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="icon-input" value="Transgender" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-transgender"></i></span>
                                                    </label>
                                                    <label class="selectgroup-item">
                                                        <input type="radio" name="icon-input" value="PreferNotToSay" class="selectgroup-input">
                                                        <span class="selectgroup-button selectgroup-button-icon"><i class="fas fa-neuter"></i></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="col-lg-5 col-md-5 col-sm-12 ml-auto mr-auto">
                            <div class="input-file input-file-image">
                                <img class="img-upload-preview img-circle" width="100" height="100" src="http://placehold.it/100x100" alt="preview">
                                <input type="file" class="form-control form-control-file" id="uploadImg" name="uploadImg" accept="image/*" required="">
                                <label for="uploadImg" class="btn btn-primary btn-round btn-lg">Image<i class="fas fa-upload"></i></label>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 17px;">
                            <div class="user-profile text-center">
                                <div class="name" id="ProfileLogoName">Hizrian</div>
                                <div class="job">Verified <i id="VerifiedLogo" class="far fa-check-circle"></i><i id="UnverifiedLogo" class="far fa-times-circle"></i></div>
                                <div class="desc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Social Networks&nbsp;&nbsp;&nbsp;<span><button id="Socialnetwork_Add" class="btn btn-secondary btn-round">ADD&nbsp;<i class="fa fa-plus"></i></button></span></div>
                        </div>                       
                        <div class="card-body">
                            <table id="SocialNetworkingTable" class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width:10%; text-align:center">Site</th>
                                        <th style="width: 60%; text-align:center">Profile Link</th>
                                        <th style="width: 30%; text-align: center">Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-round btn-danger">
                                                <i class="fab fa-instagram"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input id="InstaLink" type="url" class="form-control" required="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" aria-label="Text input with dropdown button">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btn-border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Followers</button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(225px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a class="dropdown-item">K</a>
                                                            <a class="dropdown-item">M</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-round btn-danger">
                                                <i class="fab fa-youtube"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input id="YouTubeLink" type="url" class="form-control" required="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" aria-label="Text input with dropdown button">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btn-border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Followers</button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(225px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a class="dropdown-item">K</a>
                                                            <a class="dropdown-item">M</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-round btn-primary">
                                                <i class="fab fa-facebook"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input id="FBLink" type="url" class="form-control" required="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" aria-label="Text input with dropdown button">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btn-border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Followers</button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(225px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a class="dropdown-item">K</a>
                                                            <a class="dropdown-item">M</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-round btn-info">
                                                <i class="fab fa-twitter"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input id="TwitterLink" type="url" class="form-control" required="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="number" class="form-control" aria-label="Text input with dropdown button">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-primary btn-border dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Followers</button>
                                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(225px, 43px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            <a class="dropdown-item">K</a>
                                                            <a class="dropdown-item">M</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="text-right mt-3 mb-3">
                                <button class="btn btn-success btn-round">
                                    Save&nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-check"></i>
                                    </span>
                                </button>
                                <button class="btn btn-danger btn-round">
                                    Cancel&nbsp;
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

