@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body class="login">
    <header id="header" class="fixed-top " style="background: #36517e">
        <div class="container d-flex align-items-center">
            <h1 class="logo me-auto"><a asp-controller="Home" asp-action="Index">Digitally Powerful</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->           
        </div>
    </header><!-- End Header -->
    <div class="wrapper wrapper-login">
        <!-- ======= Login START ======= -->
        <div class="container container-login animated fadeIn">
            <h3 class="text-center">Sign In</h3>
            <div class="login-form">
                <div class="form-group form-floating-label">
                    <input id="Login_username" name="Login_username" type="text" class="form-control input-border-bottom" required>
                    <label for="Login_username" class="placeholder">Username</label>
                </div>
                <div class="form-group form-floating-label">
                    <input id="Login_password" name="Login_password" type="password" class="form-control input-border-bottom" required>
                    <label for="Login_password" class="placeholder">Password</label>
                    <div class="show-password">
                        <i class="icon-eye"></i>
                    </div>
                </div>
                <div class="row form-sub m-0">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="rememberme">
                        <label class="custom-control-label" for="rememberme">Remember Me</label>
                    </div>
                    <a asp-controller="User" asp-action="Brand" class="link float-right">Forgot Password ?</a>
                </div>
                <div class="form-action mb-3">
                    <a asp-controller="User" asp-action="Influencer" class="btn btn-primary btn-rounded btn-login" id="signin">Sign In</a>
                </div>
                <div class="login-account">
                    <span class="msg">Don't have an account yet ?</span>
                    <a asp-controller="User" asp-action="Signup" id="signup" class="link">Sign Up</a>
                </div>
            </div>
        </div>
        <!-- ======= Login END ======= -->

    </div>
</body>

</html>
