@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body class="login">

    <!-- End Header -->
    <div class="wrapper wrapper-login">
        <!-- ======= Sign up START ======= -->
        <div class="container container-login animated fadeIn">
            <h3 class="text-center">Sign Up</h3>
            <div class="login-form">
                <div class="form-group form-floating-label">
                    <input id="Firstname_Influencers" name="Firstname_Influencers" type="text" class="form-control input-border-bottom" required="">
                    <label for="Firstname_Influencers" class="placeholder">First Name *</label>
                </div>
                <div class="form-group form-floating-label">
                    <input id="Lastname_Influencers" name="Lastname_Influencers" type="text" class="form-control input-border-bottom" required="">
                    <label for="Lastname_Influencers" class="placeholder">Last Name</label>
                </div>
                <div class="form-group form-floating-label">
                    <input id="Mobile_Influencers" name="Mobile_Influencers" type="tel" class="form-control input-border-bottom" required="" maxlength="10"s>
                    <label for="Mobile_Influencers" class="placeholder">Mobile *</label>
                </div>
                <div class="form-group form-floating-label">
                    <input id="email_Influencers" name="email_Influencers" type="email" class="form-control input-border-bottom" required="">
                    <label for="email_Influencers" class="placeholder">Email *</label>
                </div>
                <div class="form-group form-floating-label">
                    <input id="passwordsignup_Influencers" name="passwordsignup_Influencers" type="password" class="form-control input-border-bottom" required="">
                    <label for="passwordsignup_Influencers" class="placeholder">Password</label>
                    <div class="show-password">
                        <i class="icon-eye"></i>
                    </div>
                </div>
                <div class="form-group form-floating-label">
                    <input id="confirmpassword_Influencers" name="confirmpassword_Influencers" type="password" class="form-control input-border-bottom" required="">
                    <label for="confirmpassword_Influencers" class="placeholder">Confirm Password</label>
                    <div class="show-password">
                        <i class="icon-eye"></i>
                    </div>
                </div>
                <div class="row form-sub m-0">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="agree_Influencers" id="agree_Influencers">
                        <label class="custom-control-label" for="agree_Influencers">I Agree to the terms and conditions. *</label>
                    </div>
                </div>
                <div class="form-action">
                    <button id="signup_Influencers" class="btn btn-primary btn-rounded btn-login">Sign Up</button>
                    <a asp-controller="User" asp-action="Login" id="show-signin" class="btn btn-danger btn-link btn-login mr-3">Cancel</a>
                </div>
            </div>
        </div>
        <!-- ======= Sign up END ======= -->
    </div>

</body>

</html>
